<%= form_for [@place, @photo] do |f| %>
	<%= f.file_field :image %>

  <%= form_tag places_path, :method => 'post' do %>
  <%= hidden_field_tag :query, 'Santa Monica' %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag "Search", :name => nil %> <br />

<!--   <% if @results %>
        <% @results.each do |r| %>
        <div class="well well-lg">
          <div id="animated-example" class="animated fadeInLeft">
        <h3> 
        <p> name:          <%= r.name %> </h3>
        <p> display_phone: <%= r.display_phone %> </p>
        <p> Rating:        <%= r.rating %> </p>
        <p> Address:       <%= r.location.display_address %> </p>
        <p> Yelp:          <%= r.url %> </p>
          </div>
        </div>

        <% end %>
      <% end %> -->
      <% end %>

<% end %>	