<div class="outer-div">
  <div class="inner-div">

    <%= form_tag places_path, :method => 'get' do %>
      <%= hidden_field_tag :query, 'Santa Monica' %>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag "Search", :name => nil %> <br />
    <% end %></br>

    <% if @results %>
      <% @results.each do |r| %>
        <div class="well well-lg">
        <div id="animated-example" class="animated fadeInLeft">
          <h3> 
          <p> Name:          <%= r.name %> </h3>
          <p> Phone: <%= r.display_phone %> </p>
          <p> Rating:        <%= r.rating %> </p>
          <p> Address:       <%= r.location.display_address %> </p>
          <p> Yelp:          <%= r.url %> </p>
                             <% r.id %> 
          
    <%= form_for Photo.new do |f| %>
      <%= f.hidden_field :yelp_id, value: r.id %>
      <%= f.file_field :image %>
      <%= f.submit %>
    <% end %>
        </div>
        </div>

          
    <% if r.photos %>
      <% r.photos.each do |p| %>
        <%= image_tag p.image.url(:large), :class => "img" %> </br></br>
      <% end %>
    <% end %>
       
      <% end %>
    <% end %>

  </div>
</div>

     