<!DOCTYPE html>
<html>
<head>
  <title>YelpTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body class="background">

<!--   <a ui-sref="home">Home</a>
  <a ui-sref="about">About</a> -->

    <div id='cssmenu'>
    <ul>
       <li class='active'><a href='/users'><span>Home</span></a></li>
         <li class="session"><a href='sessions/new'><span>Sign In</span></a></li>
         <li class='last'><a href='users/new'><span>Sign Up</span></a></li>
         <li class="session"> 
                            <% if current_user %>
                              <!-- Logged in as <%#= current_user.email %>. -->
                              <%= link_to "Log Out", logout_path %>
                            <%# else %>
                              <%#= link_to "Sign Up", signup_path %><!--  or -->
                              <%#= link_to "Log In", login_path %>
                            <% end %>
                 <%# flash.each do |name,msg| %>
                        <%#= content_tag :div, msg, id: "flash_#{name}" %>
                    <%# end %>
    </div> 
      </li>          
</ul>
  </div>


  <!-- </div> -->
</body>
<html>
      
<div>
    <%= yield %>
  </div> 
</body>
</html>